<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="./">
            <img src="/img/flagIconHtml.png" alt="Logo" width="30" height="24">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Search Country</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

  <div class="espaco">
  <nav style="--bs-breadcrumb-divider: '>'; margin-top: 1rem;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">PageNotFound</li>
    </ol>
  </nav>
  </div>

<main class="pagnot">
    <div class="notfound">
        <h1>Page not Found</h1>
        <a href="./"><h1 align="center">😔</h1></a>
    </div>
</main>